body{
margin:auto;
padding:auto;
font-family:arial,verdena,tomato;,
}
a{
text-decoration:none;
color:white;
}
.content{
margin-top:8px;
margin-left:6px;
}
#fail{

border-top-right-radius:6px;
color:white;
margin-right:8px;
background-color:#f1632a;
font-size:14px;
padding:9px;
text-align:center;
margin-bottom:4px;
}

#success{
border-top-right-radius:6px;
color:white;
margin-right:8px;
background-color:#56b881;
font-size:14px;
padding:9px;
text-align:center;
margin-bottom:4px;
}







.input{
border:1px solid #146eb4;
width:175px;
margin-bottom:2px;
padding:8px;
}
.button{
margin-top:2px;
background-color:#56b881;
border:1px solid #56b881;
border-radius:3px;
color:white;
font-weight:bold;
padding:6px;
}
.head{
background-color:#ff9900;
color:white;
padding:7px;
text-align:center;
font-weight:bold;
}
.foot{
background-color:#146eb4;
padding:23px;
color:white;
text-align:center;
font-weight:bold;
margin-top:7px;
}